#portfolio {
    @keyframes scroll-left {
        0%   { 
            transform: translateX(100%); 		
        }
        100% {
            transform: translateX(-100%); 
        }
    }

    body::after {
        content: "";
        background-image: url("images/backgrounds/portfolio.jpg");
        background-position: center;
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.7;
    }

    // .link-scroller {
    //     height: 50px;
    //     overflow: hidden;
    //     position: relative;
    //     top: 50px;
    //     p {
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         margin: 0;
    //         line-height: 50px;
    //         text-align: center;	
    //         animation: scroll-left 20s linear infinite;
    //     }
    // }

    #portfolio-main {
        position: absolute;
        margin: 70px 10%;
        width: 80%;
        background-color: white;
    }

    #education-work-summary {
        border: 1px solid red;
    }

    #coding-projects {
        border: 1px solid yellow;
    }

    #linkbox {
        border: 1px solid green;
    }
}