@import "variables";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700&display=swap');

body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    background-image: url("/images/backgrounds/homepage.jpg");
}