@import "variables";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

/* Everything consistent between pages stored in main.scss directly */
body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    background-color: white;
    color: black;
    z-index: 5;
    text-align: center;
    background-color: $green;
}

.navbar-block {
    display: inline-block;
    flex-grow: 1;
    width: 100px;
    border: 1.5px solid black;
    font-size: 14px;
}

#navbar-logo {
    display: inline-block;
    position: absolute;
    font-family: 'Lobster Two', cursive;
    background-color: $blue;
    border-radius: 50%;
    width: 150px;
    color: $light-green;
    border: 1.5px solid $red-accent;
    top: 20px;
    z-index: 6;
}

/* Everything differing between pages imported from partials corresponding to that page (id set in html tag) */
@import "homepage";