@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css?family=MedievalSharp&display=swap");
/* Everything consistent between pages stored in main.scss directly */
@keyframes link-fade {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
  z-index: 5;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.85);
}

.navbar-block {
  display: inline-block;
  flex-grow: 1;
  width: 100px;
  border: 1.5px solid black;
  font-size: 14px;
  font-weight: bold;
}
.navbar-block:hover {
  animation: link-fade 1s infinite;
}
.navbar-block a:hover {
  color: white;
}

a {
  color: black;
}

#navbar-logo {
  display: inline-block;
  position: absolute;
  font-family: "Lobster Two", cursive;
  background: linear-gradient(115deg, #63c0e7 0%, #006a8a 52%, #1f799c 100%);
  border-radius: 45%;
  width: 10%;
  font-size: 14px;
  top: 1px;
  right: 46%;
  text-decoration: underline;
  color: #1edb1e;
  border: 1.5px double #b30000;
  z-index: 6;
  overflow: hidden;
  transition: color 0.7s;
  transition: transform 0.7s;
}
#navbar-logo:hover {
  color: orange;
  transform: rotate(360deg);
}

@media screen and (min-width: 950px) {
  #navbar-logo {
    font-size: 18px;
  }
}
h2 {
  font-size: 18px;
  text-decoration: underline;
}

.italic-listing {
  font-style: italic;
}
.italic-listing::before {
  content: "- ";
}

/* Everything differing between pages imported from partials corresponding to that page (id set in html tag) */
#homepage body:after {
  content: "";
  background-image: url("/images/backgrounds/homepage.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
#homepage #homepage-main {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  top: 49px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.5);
}
#homepage #homepage-main div {
  margin: 8px auto;
  text-align: center;
  width: 90%;
  border: 1.5px solid black;
  line-height: 1.2em;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}
#homepage #headshot img {
  margin-top: 10px;
  border-radius: 50%;
}
@media screen and (min-width: 950px) {
  #homepage #headshot img {
    margin-top: 28px;
  }
}
#homepage #homepage-main.article {
  padding-bottom: 20px;
  margin-bottom: 100px;
}
#homepage .article h3 {
  display: inline-block;
  position: relative;
  text-decoration: underline;
}
#homepage .article-body {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
#homepage .article-date {
  position: relative;
  right: 35%;
  font-weight: bold;
}
#homepage .article-date::after {
  content: ": ";
}
#homepage .article-banner {
  position: relative;
  width: 300px;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

@keyframes reveal {
  100% {
    background-color: transparent;
  }
}
#interests body::after {
  content: "";
  background-image: url("images/backgrounds/interests.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}
#interests #interests-main {
  margin: 0 auto;
  width: 90%;
  position: relative;
  top: 80px;
  height: 800px;
  text-align: center;
}
#interests h2 {
  position: relative;
  font-size: 24px;
  background-color: #1edb1e;
  border: 2px ridge white;
  border-radius: 50%;
  max-width: 350px;
  right: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  #interests h2 {
    top: 15px;
  }
}
#interests #interest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin-bottom: 15px;
}
#interests .interest-child {
  width: 40%;
  margin: 5% 0;
  border: 1.5px solid black;
  text-align: center;
  background-position: center;
}
#interests .interest-child:nth-child(1) {
  background-image: url("images/language_learning.jpg");
}
#interests .interest-child:nth-child(2) {
  background-image: url("images/metal.jpg");
}
#interests .interest-child:nth-child(3) {
  background-image: url("images/videogames.png");
}
#interests .interest-child:nth-child(4) {
  background-image: url("images/food_appreciation.jpg");
}
#interests .overlay {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}
#interests .overlay:hover {
  animation: reveal 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#interests .interest-child-textbox {
  height: 100%;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
}
#interests .interest-child-textbox:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#interests .interest-child-textbox h3 {
  text-decoration: underline;
}

#me_coding body::after {
  content: "";
  background-image: url("/images/backgrounds/me_coding.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.7;
}
#me_coding #me-coding-main {
  position: relative;
  top: 90px;
  margin: auto 25px;
}
#me_coding .me-coding-article {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
}
#me_coding h2 {
  text-align: center;
  font-size: 26px;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
#me_coding .me-coding-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#me_coding .me-coding-image img {
  position: relative;
  bottom: 20px;
  width: 270px;
  height: auto;
  margin: 40px 20px;
  border: 1.5px solid #1edb1e;
}
#me_coding .me-coding-description {
  background-color: rgba(255, 255, 255, 0.6);
  align-self: stretch;
  padding: 0 10px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 450px;
}
#me_coding .me-coding-description p::first-letter {
  font-size: 22px;
  font-family: "MedievalSharp", cursive;
}
#me_coding h3 {
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
}
@media screen and (min-width: 800px) {
  #me_coding .me-coding-image img {
    width: 330px;
    margin: 40px 70px;
  }
  #me_coding .me-coding-description {
    margin: 30px 15px;
  }
}
@media screen and (min-width: 1200px) {
  #me_coding .me-coding-image img {
    width: 420px;
    margin: 40px 30px;
  }
  #me_coding .me-coding-description {
    max-height: 850px;
  }
}

#portfolio {
  /* Move it (define the animation) */
}
#portfolio body::after {
  content: "";
  background-image: url("images/backgrounds/portfolio.jpg");
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}
#portfolio .link-scroller {
  height: 50px;
  overflow: hidden;
  position: relative;
  top: 50px;
}
#portfolio .link-scroller p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  animation: scroll-left 20s linear infinite;
  /* "go left, for 10s, at the same speed the whole time, forever" */
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=styles.css.map */
